<!doctype html>
<title>{% block title %}{% endblock %} - Ethical Networks</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Ethical Networks</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span></li>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
      {% set prefix = 'shauth' if 'shauth' in request.path else 'hauth' if 'hauth' in request.path else 'iauth' if 'iauth' in request.path else 'auth' %}
      {% if 'prefix' in request.args %}
	  {%   set prefix = request.args['prefix'] %}
	  {% endif %}
      <li><a href="{{ url_for(prefix + '.register') }}">Register</a></li>
      <li><a href="{{ url_for(prefix + '.login') }}">Log In</a></li>
	  <li>
		<form action="{{ url_for( 'home' ) }}">
		  <select name="prefix" onchange="this.form.submit();">
		    <option value="auth" {{ 'selected' if prefix == 'auth' }}>Plaintext</option>
		    <option value="iauth" {{ 'selected' if prefix == 'iauth' }}>Injection</option>
			<option value="hauth" {{ 'selected' if prefix == 'hauth' }}>Hashed</option>
			<option value="shauth" {{ 'selected' if prefix == 'shauth' }}>Salted</option>
		  </select>
		</form>
	  </li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>